.titulo-CrearGifOs {
  margin: 3px;
  height: 24px;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titulo-CrearGifOs h3 {
  font-family: 'Chakra Petch', sans-serif;
  margin-left: 4px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 800;
  margin-left: 5px;
}

.titulo-CrearGifOs img {
  display: none;
  margin-right: 10px;
}

.crearGifOs {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 153px;
}

.pantalla-CrearGifOs {
  width: 684px;
  height: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.img-window {
  display: inline;
  margin: 30px 16px 0px 25px;
  width: 32px;
  height: 32px;
}

.subtitulo-CrearGifOs {
  font-weight: 800;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin: 30px 0px 17px 0px;
}

.inline {
  display: inline;
  width: auto;
}

.contenedor-imgText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contenedor-imgText div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 518px;
}

.texto-CrearGifOs {
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

.cont-botones-CrearGifOs {
  margin: 28px 0 35px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul.list-CrearGifOs {
  list-style-type: none;
  margin-bottom: 10px;
}

.list-CrearGifOs li {
  margin-top: 10px;
}

.misGifOs {
  display: none;
  margin-top: 0px;
}

.contenedor-videoGifOs {
  margin-top: 11px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 2s;
  transition: all 2s;
  width: 0px;
  height: 0px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.boton-cancelar-CrearGifOs,
.boton-comenzar-CrearGifOs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  width: 144px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.boton-cancelar-CrearGifOs:hover,
.boton-comenzar-CrearGifOs:hover {
  cursor: pointer;
}

.cont-botones-videoGifOs {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 832px;
}

.boton-capturar,
.boton-detener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 36px;
  margin: 24px 16px 16px 0;
}

.boton-capturar {
  margin-left: 652px;
}

.boton-capturar:hover,
.boton-detener:hover {
  cursor: pointer;
}

.boton-detener {
  display: none;
}

.img-detener,
.p-detener {
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.p-capturar,
.img-capturar,
.p-detener,
.img-detener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.p-capturar,
.p-detener {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 144px;
  height: 36px;
}

.p-capturar p,
.p-detener p {
  margin-left: 39.5px;
}

.img-capturar,
.img-detener {
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-capturar img,
.img-detener img {
  width: 16.5px;
  height: 18px;
}

.videoGifTag,
.gifPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 425px;
}

.titulo-CrearGifOs img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.titulo-CrearGifOs img:hover {
  cursor: pointer;
}

.gifPreview {
  display: none;
}

.cont-botones-vistaP {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont-numeros-vistaP {
  margin: 21px 24px 0 0px;
  width: 124px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-numeros-vistaP p {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.boton-play-vistaP {
  margin-top: 29px;
  width: 20px;
  height: 20px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boton-play-vistaP img {
  width: 6px;
  height: 10px;
}

.boton-play-vistaP:hover,
.repetir-captura:hover,
.subir-guifo:hover,
.boton-cancelar-subir:hover {
  cursor: pointer;
}

.cont-repetir-subir {
  margin-left: 119px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.repetir-captura,
.subir-guifo,
.boton-cancelar-subir {
  width: 144px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repetir-captura,
.boton-cancelar-subir {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 21px 14px 0px 0px;
}

.subir-guifo {
  margin: 21px 0px 0px 0px;
}

.repetir-captura p,
.subir-guifo p {
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.p-detener p {
  color: white;
}

.cont-play-barraCarga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.barraCarga {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 28px 0 0 4px;
  width: 240px;
  height: 24px;
  background: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
}

.barraCargaProgreso {
  background: #999999;
  height: 20px;
  width: 12px;
  margin: 2px 0 0 2px;
}

.contenedorSubiendoGuifo {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.textoSubiendoGuifo {
  margin-top: 8px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.contenedorCargaSubirGuifo {
  margin-top: 39px;
  width: 324px;
  height: 24px;
  background: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.barraCargaSubirGuifo {
  margin: 2px 0 2px 0;
  background: #999999;
  height: 20px;
  width: 12px;
}

.subTituloSubirGuifo {
  display: inline;
  font-size: 12px;
  margin-top: 10px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

.cont-boton-cancelar-subir {
  display: none;
  margin-left: 702px;
}

.tachado {
  display: inline;
  font-size: 12px;
  margin-top: 10px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
  text-decoration: line-through;
}

.contenedorGuifoSubido {
  font-family: 'Chakra Petch', sans-serif;
  width: 721px;
  height: 364px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedorImgBotonesGuifoSubido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorBotonesGuifoSubido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 124px;
  margin-left: 27px;
}

.textoBotonesGuifoSubido {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.botonGuifoSubido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  width: 256px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.botonGuifoSubido p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.previewGuifo {
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 365px;
}

.botonGuifoSubido:hover {
  cursor: pointer;
}

.botonListoGuifoSubido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 144px;
  height: 36px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 46px;
}

.botonListoGuifoSubido p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.titulo-misGifOs h3 {
  margin-left: 7px;
}
/*# sourceMappingURL=crearGifOs.css.map */