// Header

// Logo
.logoGifOS{
    width: 6rem;
    align-self: flex-start;
}
// botones
.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 27rem;
}
.boton-crearGifOs{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 36px;
}


.boton-elegirTemaDropDown .dottedDropDown{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-crearGifOs p{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 139px;
    height: 30px;
}

.boton-elegirTemaTexto p{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 125px;
    height: 30px;
}
.boton-MisGifOS:hover{
    cursor: pointer;
}
// Bordes punteados
.boton-crearGifOs p:hover, 
.boton-elegirTema:hover .elegirTema,
.boton-elegirTema:hover .dottedDropDown{
    border: 1px dotted #110038;
}
.card:hover img{
    outline: 1px dotted #110038;
    outline-offset: -1px;
}
.boton-MisGifOS:hover{
    outline: 1px dotted #110038;
    outline-offset: -1px;
}
.verMas:hover{
    outline: 1px dotted #110038;
    outline-offset: -5px;
    background-color: #3A72DB;
    cursor: pointer;
}

.boton-elegirTema{
    position: relative;
    top: 0rem;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
}

.flexElegirTema{
    display: flex;
}
.boton-elegirTemaTexto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 36px;
}
.boton-elegirTemaDropDown{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dropDown{
    width: 10px;
    height: 6px;
}

.boton-MisGifOS{
    user-select: none;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    width: 95px;
    height: 32px;
    display: flex;
    align-items: center;
}

// DropDown Contenedor
.dropDown-Content{
    display: none;
    user-select: none;
    top: 2rem;
    left: -10rem;
}
.sailorDay{
    margin: 10px;
    width: 149px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sailorNight{
    margin: 0px 10px 10px 10px;
    width: 149px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}