.logoGifOSDark {
  display: none;
}

.presentacionDiv {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

body {
  background-color: #fff4fd;
}

.boton-crearGifOs:hover,
.boton-elegirTema:hover .boton-elegirTemaTexto,
.boton-elegirTema:hover .boton-elegirTemaDropDown {
  cursor: pointer;
  background: #E6BBE2;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.boton-crearGifOs {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.boton-elegirTemaTexto {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.boton-elegirTemaDropDown {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.dropDown-Content {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.boton-MisGifOS,
.underline {
  color: #110038;
}

.buscador {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.buscador-buscar {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.buscador-buscar p {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin: 6px;
}

.buscador-input {
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.buscador-boton {
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.buscador-boton p {
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 18px;
}

.lupaInactiva {
  display: inline;
}

.lupaNightInactiva {
  display: none;
}

.buscador-input:focus + .buscador-boton,
.buscador-input:valid + .buscador-boton {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.buscador-input:focus ~ .buscador-boton p,
.buscador-input:valid ~ .buscador-boton p {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
}

.buscador-input:focus ~ .buscador-boton .lupa,
.buscador-input:valid ~ .buscador-boton .lupa {
  display: inline;
}

.buscador-input:focus ~ .buscador-boton .lupaInactiva,
.buscador-input:valid ~ .buscador-boton .lupaInactiva {
  display: none;
}

.sailorDay {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.sailorNight {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.barraTitulo {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.verMas {
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

#contBusquedasSug {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.sugg {
  background: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.sugerenciasHoy,
.tendenciasHoy,
.resultadosHoy,
.titulo-misGifOs {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.card {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.divPTend {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.titulo-CrearGifOs {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.pantalla-CrearGifOs {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.boton-cancelar-CrearGifOs {
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.boton-comenzar-CrearGifOs {
  margin: 0px 36px 0px 16px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.p-capturar {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.img-capturar {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.boton-play-vistaP {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.subir-guifo {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.repetir-captura,
.boton-cancelar-subir {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.repetir-captura p,
.subir-guifo p {
  color: #110038;
}

.textoBotonesGuifoSubido,
.botonGuifoSubido p,
.botonListoGuifoSubido p {
  color: #110038;
}

.botonGuifoSubido {
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.botonListoGuifoSubido {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
/*# sourceMappingURL=light.css.map */